<app-menu></app-menu>
<div class="pagina">
  <header>
    <h1>Colheitas</h1>
  </header>

  <form [formGroup]="formulario">
    <div>
      <form>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantidade" />
      </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
        <mat-label>Data da Colheita</mat-label>
  <input  matInput [matDatepicker]= "colheita" > 
  <mat-datepicker-toggle  matIconSuffix [for]= "colheita" > </mat-datepicker-toggle > 
  <mat-datepicker #colheita > </mat-datepicker > 
      </mat-form-field >

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Árvore</mat-label>
        <input matInput formControlName="arvore" />
      </mat-form-field>
    <div>
    <mat-checkbox formControlName="defensivo">Defensivo</mat-checkbox>
    <mat-checkbox formControlName="fertilizante">Fertilizante</mat-checkbox>
  </div>
    <div class="controles">
        <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()" color="accent">Incluir</button>
        <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()" color="accent">Salvar</button>
        <button mat-raised-button [disabled]="formulario.disabled" (click)="onCancelar()" color="accent">Cancelar</button>
    </div>
  </form>
</div>
 <div class="relatorio">
    <h2>Colheitas cadastradas</h2>
    <table>
        <tr>
            <th>Ação</th>
            <th>Quantidade</th>
            <th>Data de Colheita</th>
            <th>Árvore</th> 
            
        </tr>
        <tr *ngFor="let colheita of relatorio">
            <td><button>Excluir</button></td>
            <td>{{colheita.quantidade}}</td> 
            <td>{{colheita.dt_colheita}}</td> 
            <td>{{colheita.arvore}}</td>      
        </tr>
    </table>
        </div>
  </form></div>




