<section class="menu">
    <nav>
    

        <li><a routerLink="/home">Home</a></li>

        <details>
            <summary>Administração</summary>
            <div>
            <li routerLink="/cadUsuario"> <span>Usuário</span></li>
            <li routerLink="/material" > <span>Material</span></li>
            <li routerLink="/produto" > <span>Produto</span></li>     
        </div>  
        </details>

        <details>
            <summary>Pomar</summary>
            <div>
            <li routerLink="/cadastro"><span>Cadastro</span></li>
            <li routerLink="/movimento"><span>Movimento</span></li>
            <li routerLink="/colheita"><span>Colheita</span></li>  
            </div>   
            </details>
    
    </nav>
</section>
