<section>
    <nav>

        <li routerLink="/home"><span>Home</span></li>

        <details>
            <summary>Administração</summary>
            <div>
            <li routerLink="/cadUsuario"><span>Usuário</span></li>
            <li><span>Material</span></li>
            <li><span>Produto</span></li>     
        </div>  
        </details>

        <details>
            <summary>Pomar</summary>
            <div>
            <li><span>Cadastro</span></li>
            <li><span>Movimento</span></li>
            <li><span>Colheita</span></li>  
            </div>   
            </details>
    
    </nav>

    <main>
        <img src="assets/img/_1a95c2b9-9aa5-4bdb-9ba5-fb48773c334b.png">
    </main>

    <footer>
        <p>&copy; 2024 Página de Tangerinas. Todos os direitos reservados.</p>
    </footer>
</section>
